*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1561501878-aabd62634533?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay{ 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
}
#main-right{
    height: 36%;
    width: 17%;
    background-image: url(https://images.unsplash.com/photo-1725582204595-ccde82881dc9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4fHx8ZW58MHx8fHx8);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 57%;
    left: 81%;
    box-shadow: 0px 0px 10px 10px black;
}
#main h1{
    color: white;
    font-family: arial;
    font-size: 22px;
    letter-spacing: 1px;
    position: absolute;
    top: 2%;
    left: 3%;
}
#main h2{
    color: white;
    font-family: arial;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 3%;
    letter-spacing: 2px;
    font-weight: 600;
}
#main h3{
    color: white;
    font-family: arial;
    font-size: 42px;
    position: absolute;
    top: 54%;
    left: 3%;
    letter-spacing: 1px;
    font-weight: 550;  
}
#main h4{
    color: white;
    font-family: arial;
    font-size: 42px;
    position: absolute;
    top: 63%;
    left: 3%;
    letter-spacing: 1px;
    font-weight: 550;  
}
#main button{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 13px 25px;
    font-size: 11px;
    font-weight: 700;
    font-family: arial;
    position: absolute;
    top: 73%;
    left: 3%;
}
#main button:hover{
    color: black;
    background-color: white;
    transition: all ease 1s;
    cursor: pointer;
}
#icon i{
    font-size:100%;
    color: white;
    position: absolute;
    top:5%;
    right: 5%;
    font-weight: 900;
}   
#main-2{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}
#pic-left{
    height: 80%;
    width: 23%;
    background-image: url(https://images.unsplash.com/photo-1650186082509-d1c0e3d04731?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 3%;
}
#overlay-2{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}
#pic-left:hover{
    /* height: 100%;
    width: 100%; */
    background-image: url(https://images.unsplash.com/photo-1643790766790-8a1a07af7f33?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    transition: all ease 2s;
    cursor: pointer;
    z-index: 1;
}
#center{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1643790766790-8a1a07af7f33?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 8%;
    left: 95%;
}
#overlay-2{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}
#center:hover{
    /* width: 100%;
    height: 100%; */
    background-image: url(https://images.unsplash.com/photo-1650186082509-d1c0e3d04731?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    transition: all ease 2s;
    cursor: pointer;
}

#right h1{
    color: black;
    font-size: 12px;
    font-weight: 700;
    font-family: arial;
    position: absolute;
    top: 12%;
    left: 53%;
}
#right h2{
    color: black;
    font-size: 38px;
    font-weight: 550;
    font-family: arial;
    position: absolute;
    top: 18%;
    left: 55%;
}
#right h3{
    color: black;
    font-size: 38px;
    font-weight: 550;
    font-family: arial;
    position: absolute;
    top: 24%;
    left: 55%;
}
#right h4{
    width: 400px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    font-family: arial;
    position: absolute;
    top: 31%;
    left: 55%;
    line-height: 19px;
}
#right p{
    /* height: 80%; */
    width: 400px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 550;
    font-family: arial;
    position: absolute;
    top: 38%;
    left: 55%;
    text-align: left;
    line-height: 27px;
}
#right button{
    color: black;
    background-color: white;
    font-size: 10px;
    padding: 12px 25px;
    font-weight: 700;
    border: 2px solid rgb(160, 159, 159);
    margin-left: 55%;
    margin-top: 28%;
}
#right button:hover{
    color: white;
    background-color: black;
    transition: all ease 1s;
    border: 2px solid black ;
}
#main-3{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}
#main-3 h1{
    color: white;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 5%;
}
#main-3 h2{
    color: white;
    font-size: 38px;
    font-weight: 500;
    font-family: arial;
    position: absolute;
    top: 14%;
    left: 6%;
}
#main-3 h3{
    color: white;
    font-size: 38px;
    font-weight: 500;
    font-family: arial;
    position: absolute;
    top: 20%;
    left: 6%;
}
#center3{
    height: 45%;
    width: 90%;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 37%;
    left: 5%;
}
#box-1{
    height: 100%;
    width: 23%;
    /* background-color: red; */
    border: 2px solid grey;
}
#box-1 i{
    /* background-color: white; */
    font-size: 50px;
    color: white;
    position: absolute;
    top: 6%;
    left: 2%;
}
#box-1 h1{
    font-size: 15px;
    color: white;
    font-family: arial;
    position: absolute;
    top: 25%;
    left:2%;
}
#box-1 p{
    width: 300px;
    font-size: 20px;
    line-height: 30px;
    color: grey;
    position: absolute;
    top: 38%;
    left: 2%;
}
#box-2{
    height: 100%;
    width: 23%;
    /* background-color: red; */
    border: 2px solid grey;
}
#box-2 i{
    /* background-color: white; */
    font-size: 50px;
    color: white;
    position: absolute;
    top: 6%;
    left: 27%;
}
#box-2 h1{
    font-size: 15px;
    color: white;
    font-family: arial;
    position: absolute;
    top: 25%;
    left:27%;
}
#box-2 p{
    width: 300px;
    color: grey;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 38%;
    left: 27%;
}
#box-3{
    height: 100%;
    width: 23%;
    /* background-color: red; */
    border: 2px solid grey;
}
#box-3 i{
    /* background-color: white; */
    font-size: 50px;
    color: white;
    position: absolute;
    top: 6%;
    left: 53%;
}
#box-3 h1{
    font-size: 15px;
    color: white;
    font-family: arial;
    position: absolute;
    top: 25%;
    left:53%;
}
#box-3 p{
    width: 300px;
    color: grey;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 38%;
    left: 53%;
}
#box-4{
    height: 100%;
    width: 23%;
    /* background-color: red; */
    border: 2px solid grey;
}
#box-4 i{
    /* background-color: white; */
    font-size: 50px;
    color: white;
    position: absolute;
    top: 6%;
    left: 78%;
}
#box-4 h1{
    font-size: 15px;
    color: white;
    font-family: arial;
    position: absolute;
    top: 25%;
    left:78%;
}
#box-4  p{
    width: 300px;
    color: grey;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 38%;
    left: 78%;
}
#main-4{
    height: 100%;
    width: 100%;
    background-color: rgb(218, 192, 255);
    display: flex;
    position: relative;
    
}
#main-4 #box1{
    height: 100%;
    width: 36%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}
#main-4 #box2{
    height: 100%;
    width: 36%;
    background-color: rgb(255, 170, 0);
    background-image: url(https://images.unsplash.com/photo-1610123172763-1f587473048f?q=80&w=1901&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}#main-4 #box3{
    height: 100%;
    width: 36%;
    background-color: rgb(217, 255, 0);
    background-image: url(https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#main-4 #box1:hover{
    height: 100%;
    width: 36%;
    /* background-color: rgb(255, 170, 0); */
    background-image: url(https://images.unsplash.com/photo-1535498730771-e735b998cd64?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    transition: all ease 2s;
    cursor: pointer;

}
#main-4 #box2:hover{
    height: 100%;
    width: 36%;
    /* background-color: rgb(255, 170, 0); */
    background-image: url(https://images.unsplash.com/photo-1487015307662-6ce6210680f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZnVybml0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    transition: all ease 2s;
    cursor: pointer;    

}
#main-4 #box3:hover{
    height: 100%;
    width: 36%;
    /* background-color: rgb(255, 170, 0); */
    background-image: url(https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGludGVyb3IlMjBkZXNpZ258ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    transition: all ease 2s;
    cursor: pointer;

}
#box1 h1{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 88%;
    left: 3%;
    font-weight: 100;

}
#box1 h2{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 92%;
    left: 3%;
    font-weight: 100;

}
#box2 h1{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 88%;
    left: 35%;
    font-weight: 100;

}
#box2 h2{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 92%;
    left: 35%;
    font-weight: 100;

}
#box3 h1{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 88%;
    left: 70%;
    font-weight: 100;

}
#box3 h2{
    font-size: 24px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 92%;
    left: 70%;
    font-weight: 100;

}
#main-5{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#main-5 h1{

    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 9%;
}
#main-5 h2{
    color: rgb(0, 0, 0);
    font-size: 37px;
    font-weight: 600;
    font-family: arial;
    position: absolute;
    top: 14%;
    left: 13%;
}
#main-5 h3{
    color: black;
    font-size: 37px;
    font-weight: 600;
    font-family: arial;
    position: absolute;
    top: 20%;
    left: 13%;
}

#center5{
    height: 35%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#center5 #left5{
    height: 88%;
    width: 26%;
    /* background-color: green; */
    background-image: url(https://images.unsplash.com/photo-1441040744088-a70b8213d4d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#center5 #center5{
    height: 88%;
    width: 26%;
    /* background-color: green; */
    background-image: url(https://plus.unsplash.com/premium_photo-1680582107403-04dfac02efc3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YnVpbGRpbmdzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}
#center5 #right5{
    height: 88%;
    width: 26%;
    /* background-color: green; */
    background-image: url(https://plus.unsplash.com/premium_photo-1661962911608-ea55ac7785da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#main-5 #bottom{
    height: 32%;
    width: 78%;
    /* background-color: navy; */
    position: absolute;
    top: 67%;
    display: flex;
    justify-content: space-between;
}
#bottom #leftb{
    height: 88%;
    width: 28%;
    /* background-color: rgb(185, 82, 99); */
}
#bottom #centerb{
    height: 88%;
    width: 28%;
    /* background-color: rgb(41, 146, 137); */
}
#bottom #rightb{
    height: 88%;
    width: 28%;
    /* background-color: rgb(190, 149, 156); */
}
#leftb h1{
    font-size: 15px;
    color: black;
    position: absolute;
    top: 5%;
    left: 0%;
    font-weight: 800;
    font-family: arial;
}
#leftb h2{
    font-size: 14px;
    color: black;
    font-weight: 100;
    position: absolute;
    top: 15%;
    left: 0%;
}
#bottom #leftb p{
    font-size: 15px;
    color: grey;
    position: absolute;
    top: 26%;
    right: 72%;   
}
#centerb h1{
    font-size: 15px;
    color: black;
    position: absolute;
    top: 5%;
    left: 36%;
    font-weight: 800;
    font-family: arial;
}
#centerb h2{
    font-size: 14px;
    color: black;
    font-weight: 100;
    position: absolute;
    top: 15%;
    left: 36%;
}
#centerb p{
    width: 28%;
    font-size: 15px;
    color: grey;
    position: absolute;
    top: 26%;
    left: 36%;  
}
#rightb h1{
    font-size: 15px;
    color: black;
    position: absolute;
    top: 5%;
    left: 72%;
    font-weight: 800;
    font-family: arial;
}
#rightb h2{
    font-size: 14px;
    color: black;
    font-weight: 100;
    position: absolute;
    top: 15%;
    left: 72%;
}
#rightb p{
    width: 28%;
    font-size: 15px;
    color: grey;
    position: absolute;
    top: 26%;
    left: 72%;  
}
#main-6{
    height: 50%;
    width: 100%;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1545569341-9eb8b30979d9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
}
#main-6 h1{
    font-size: 40px;
    color: white;
    position: absolute;
    font-family: arial;
    top: 20%;
    left: 30%;
}
#main-6 p{
    width: 1200px;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 38%;
    left: 15%;
}
#main-6 button{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 13px 25px;
    font-size: 11px;
    font-weight: 700;
    font-family: arial;
    position: absolute;
    top: 55%;
    left: 42%;
    transition: all ease 0.45s;
}
#main-6 button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.282);
    border: 2px solid black;
    border-radius: 20px;
    pad: 14px 25px;
    cursor: pointer;
}